<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SAM Solution | Groups</title>
  </head>
  <body>
    <% if (groups) { %>
      <h1>Groups</h1>
      <% if (groups.lastOperation) { %>
        <p>Last operation = <%= groups.lastOperation %></p>
      <% } %>
      <table border="10" style="width:50%">
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>BaseRights</td>
          <td>Has (many) user(s)</td>
        </tr>
        <% groups.forEach(function (group) { %>
          <tr>
            <td><%= group.id %></td>
            <td><%= group.name %></td>
            <td><%= group.baseRights %></td>
            <td>
              <% group.users.forEach(function (user) { %>
                <%= user.name %>,
              <% }); %>
            </td>
          </tr>
        <% }); %>
      </table>
      <h1>Actions on groups</h1>
      <form action="/users_and_rights/update_groups" method="post">
        <div>
          <button type="submit">POST update_groups</button>
        </div>
      </form>
      <form action="/users_and_rights/create_groups" method="post">
        <div>
          <button type="submit">POST create_groups</button>
        </div>
      </form>
      <form action="/users_and_rights/delete_groups" method="post">
        <div>
          <button type="submit">POST delete_groups</button>
        </div>
      </form>
    <% } else { %>
      <h1>An error occured</h1>
        <p>Go back to the <a href="/login-signup-poc.html">login page</a></p>
    <% } %>
  </body>
</html>
