<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SAM Solution | User Profile POC</title>
  </head>
  <body>
    <% if (user) { %>
      <h1>Update your profile</h1>
      <p>
        Hey <i><%= user.name %></i>, for your information, you're currently belonging to the following group(s): <i>
        <% user.groups.forEach(function (group) { %>
          <%= group.name %>,
        <% }); %></i>
      </p>
      <p>
        Your higher rights (mode) for each modules are:
        <table border="10" style="width:50%">
          <tr>
            <td><b>Save/Restore</b></td>
            <td><b>Migration</b></td>
            <td><b>Software Manager</b></td>
          </tr>
            <td><%= user.saveAndRestoreMode == 2 ? 'Advanced' : 'Simple' %></td>
            <td><%= user.migrationMode == 2 ? 'Advanced' : 'Simple' %></td>
            <td><%= user.softwarePackagesMode == 2 ? 'Advanced' : 'Simple' %></td>
            </tr>
        </table>
      </p>
      <form action="/update_user_profile" method="post">
        <div>
          <label>Username :</label>
          <input type="text" name="username" placeholder="<%= user.name %>" />
        </div>
        <div>
          <label>Email :</label>
          <input type="email" name="email" placeholder="<%= user.email %>" />
        </div>
        <div>
          <label>Password :</label>
          <input type="password" name="password" placeholder="●●●●●●●●" />
        </div>
        <div>
          <label>Confirmation :</label>
          <input type="password" name="confirmation" placeholder="●●●●●●●●" />
        </div>
        <div>
          <button type="submit">Update your profile</button>
        </div>
      </form>
    <% } else { %>
      <h1>An error occured</h1>
        <p>Go back to the <a href="/login-signup-poc.html">login page</a></p>
    <% } %>
  </body>
</html>
