<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SAM Solution | Users</title>
  </head>
  <body>
    <% if (users) { %>
      <h1>Users</h1>
      <% if (users.lastOperation) { %>
        <p>Last operation = <%= users.lastOperation %></p>
      <% } %>
      <table border="10" style="width:50%">
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>Email</td>
          <td>Belongs to group(s)</td>
        </tr>
        <% users.forEach(function (user) { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <% user.groups.forEach(function (group) { %>
                <%= group.name %>,
              <% }); %>
            </td>
          </tr>
        <% }); %>
      </table>
      <h1>Actions on users</h1>
      <form action="/users_and_rights/update_users" method="post">
        <div>
          <button type="submit">POST update_users</button>
        </div>
      </form>
      <form action="/users_and_rights/create_users" method="post">
        <div>
          <button type="submit">POST create_users</button>
        </div>
      </form>
      <form action="/users_and_rights/delete_users" method="post">
        <div>
          <button type="submit">POST delete_users</button>
        </div>
      </form>
    <% } else { %>
      <h1>An error occured</h1>
        <p>Go back to the <a href="/login-signup-poc.html">login page</a></p>
    <% } %>
  </body>
</html>
